@keyframes bounceRight {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-10px);
    }
    60% {
      transform: translateX(-5px);
    }

  }
  
  .animate-bounce-right {
    animation: bounceRight 2s infinite;
  }
  
  .animate-bounce-right:hover {
    animation: bounceRightHover 0s infinite;
  }

  @keyframes bounceleft {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-5px);
    }
    60% {
      transform: translateX(-10px);
    }

  }
  
  .animate-bounce-left {
    animation: bounceleft 2s infinite;
  }
  
  .animate-bounce-left:hover {
    animation: bounceleftHover 0s infinite;
  }

  